<h1 class="mt-3">Tabla de retorno del prestamo</h1>
<!-- cuotas es el arreglo donde se guardan los calculos del ejercicio -->
{{#if amortizacion}}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Mes</th>
                <th scope="col">Capital</th>
                <th scope="col">Interes</th>
                <th scope="col">Saldo Final</th>
            </tr>
        </thead>
        <tbody>
            {{#each amortizacion}}
            <tr>
                <th scope="row">{{mes}}</th>
                <th scope="row">{{capital}}</th>
                <th scope="row">{{interes}}</th>
                <th scope="row">{{saldoFinal}}</th>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{/if}}